.App {
  text-align: center;
}

.top-header {
  background-color: grey;
  height: 70px;
  padding: 20px;
  color: whitesmoke;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 
/* .tableOne {
  justify-content: center;
} */

.taskTable {
  display: flex;
  justify-content: center;
  align-items: center;
 

}

table {
  width: 30%;
  
}


table, th, td {
  border:5px solid;
}

tr:hover {background-color: gray;}

/* .taskTable  {
  border: 2px solid gray;
} */